<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <title>Admin Page</title>
</head>
<body>
    {% block content %}
    <h1>Admin Panel</h1>
    <hr>
    <h3>Create User</h3>
    <form method="post" action="{{ url_for('admin_panel') }}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}<br>
        {{ form.email.label }} {{ form.email }}<br>
        {{ form.password.label }} {{ form.password }}<br>
        {{ form.is_admin }} {{ form.is_admin.label }}<br>
        {{ form.submit }}
    </form>
    <!-- <hr>
    <h3>Remove User</h3>
    <form method="post" action="{{ url_for('admin_panel') }}">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}<br>
        {{ form.submit }}
    </form>
    <hr> -->
    <h3>All Users</h3>
    <table>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Password</th>
            <th>Is Admin</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
            <td>{{ user.is_admin }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endblock %}
</body>
</html>
