<!DOCTYPE html>
<html>
<head>
    <title>My Library</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>
    <header>
        <div class="logo">
            <a href="/dashboard">My Library</a>
        </div>
        <div class="search">
            <form action="#" method="get">
                <input type="text" name="search" placeholder="Search Books...">
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="buttons">
            <a href="/dashboard"><button class="nav-button">All Books</button></a>
            <form method="GET" action="#">
              <input type="hidden" name="favorites" value="true">
              <button class="nav-button" id="favorites" type="submit">Favorites</button>
            </form>
            <a href="{{url_for('logout')}}"><button class="nav-button login-button">Logout</button></a>
          </div>
    </header>

    <div class="cover-image">
    </div>

    <main>
        <div class="book-container">
            {% if books %}
            {% for book in books %}
            <div class="book">
                <img src="{{ book[1] }}" alt="Book Cover Photo" class="book-cover">
                <div class="book-details">
                    <h2 class="book-title">{{ book[2] }}</h2>
                    <p class="book-author">{{ book[3]}}</p>
                    <p class="book-rating">Rating: {{ book[4] }}</p>
                    <p class="book-release-time">Release date: {{ book[5] }}</p>              
                    <button class="favorite-btn" data-book-id="like{{ book[0] }}">Like</button>
                    <button class="favorite-btn" data-book-id="dislike{{ book[0] }}">Dislike</button>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        
    </main>
    <script src="../static/js/script.js"></script>
    <footer>
        <p>&copy; My Library 2023</p>
    </footer>
</body>
</html>
