<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/login.css')}}">

    <title>Login</title>
</head>
<body>
    <div class="login-container">
      <!-- <h1>Login page</h1> -->
      <h4>Unlock a world of imagination with every page turn!</h4>
      <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
      </form>
      <!-- <button id="redirect"> <a href="/">cancel</a></button><br> -->
      <a href="{{url_for('register')}}">Don't have an account? Sign Up</a><br>
    </div>
  </body>
  
</html>