<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./css/registration.css')}}">
    <title>Register</title>
</head>
<body>
    <div class="registration-container">
        <!-- <h1>Register Page</h1> -->
        <form method="POST" action="">
            {{form.hidden_tag()}}
            <label for="username">Username</label>
            {{form.username}}
            <label for="email">Email</label>
            {{form.email}}
            <label for="password">Password</label>
            {{form.password}}
            <label for="confirm_password">Confirm Password</label>
            {{form.confirm_password}}
            <input type="submit" value="Register">
        </form>
        <a href="{{url_for('login')}}">Already have an account? Login in</a><br>
    </div>
</body>
</html>
